.smile {
    grid-area: s;
    background-color: rgb(38, 0, 255);
    /*color: yellow;*/
}
svg {
    padding: 10px;
}
.smile line {
    stroke: yellow; 
    stroke-width: 4px;
}

circle {
    fill:none; 
    stroke: yellow; 
    stroke-width:4px;
}